<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Погода</string>
	<key>CFBundleName</key>
	<string>Погода</string>
	<key>OpenWeather API key</key>
	<string>Ключ взаимодействия с OpenWeather</string>
	<key>release app number</key>
	<string>Сведения о выпуске</string>
	<key>version</key>
	<string>номер версии</string>
	<key>build</key>
	<string>номер сборки</string>
	<key>temperature</key>
	<string>температура</string>
	<key>celsius</key>
	<string>по цельсию</string>
	<key>fahrenheit</key>
	<string>по форенгейту</string>
	<key>metric</key>
	<string>метрическая</string>
	<key>imperial</key>
	<string>имперская</string>
	<key>optionsButtonInMainScreen</key>
	<string>Опции</string>
	<key>locationsListButtonInMainScreen</key>
	<string>Любимые места</string>
	<key>closeButtonInLocationsListScreen</key>
	<string>Назад к погоде</string>
	<key>searchLocationInLocationsListScreen</key>
	<string>Найти</string>
	<key>closeButtonInSearchLocationScreen</key>
	<string>Закрыть</string>
	<key>closeButtonInOptionsScreen</key>
	<string>Закрыть</string>
</dict>
</plist>
