<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Weather</string>
	<key>CFBundleName</key>
	<string>Weather</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to display local weather forecast</string>
	<key>defaultLocation</key>
	<string>{ &quot;lat&quot; : 52.186648327996274,  &quot;lon&quot; : -1.7075733650987568 } </string>
	<key>OpenWeather API key</key>
	<string>OpenWeather API key</string>
	<key>release app number</key>
	<string>Release App Number</string>
	<key>version</key>
	<string>Version</string>
	<key>build</key>
	<string>Build</string>
	<key>temperature</key>
	<string>Temperature</string>
	<key>celsius</key>
	<string>Celsius</string>
	<key>fahrenheit</key>
	<string>Fahrenheit</string>
	<key>metric</key>
	<string>(°C) Metric</string>
	<key>imperial</key>
	<string>(°F) Imperial</string>
	<key>wind speed</key>
	<string>Wind Speed</string>
	<key>m/s</key>
	<string>m/s</string>
	<key>km/h</key>
	<string>km/h</string>
	<key>mph</key>
	<string>mph</string>
	<key>pressure</key>
	<string>Pressure</string>
	<key>hPa</key>
	<string>hPa</string>
	<key>mmHg</key>
	<string>mmHg</string>
	<key>inHg</key>
	<string>inHg</string>
	<key>precipitation</key>
	<string>Precipitation</string>
	<key>mm</key>
	<string>mm</string>
	<key>in</key>
	<string>in</string>
	<key>distance</key>
	<string>Distance</string>
	<key>km</key>
	<string>km</string>
	<key>mi</key>
	<string>mi</string>
	<key>time format</key>
	<string>Time Format</string>
	<key>24-hour</key>
	<string>24-hour</string>
	<key>12-hour</key>
	<string>12-hour</string>
	<key>specials</key>
	<string>Special Options</string>
	<key>focus on</key>
	<string>Life Style Focus</string>
	<key>day</key>
	<string>Day</string>
	<key>night</key>
	<string>Night</string>
	<key>optionsButtonInMainScreen</key>
	<string>Options</string>
	<key>locationsListButtonInMainScreen</key>
	<string>Locations</string>
	<key>closeButtonInLocationsListScreen</key>
	<string>Close</string>
	<key>searchLocationInLocationsListScreen</key>
	<string>Search Location</string>
	<key>closeButtonInSearchLocationScreen</key>
	<string>Cancel</string>
	<key>closeButtonInOptionsScreen</key>
	<string>Close</string>
</dict>
</plist>
