<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Погода</string>
	<key>CFBundleName</key>
	<string>Погода</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Данные о Вашем местоположении используются для отображения местного прогноза погоды</string>
	<key>defaultLocation</key>
	<string>{ &quot;lat&quot; : 55.662546456740564,  &quot;lon&quot; : 85.62138369331707 }</string>
	<key>OpenWeather API key</key>
	<string>Ключ взаимодействия с OpenWeather</string>
	<key>release app number</key>
	<string>Сведения о выпуске</string>
	<key>version</key>
	<string>номер версии</string>
	<key>build</key>
	<string>номер сборки</string>
	<key>temperature</key>
	<string>температура</string>
	<key>celsius</key>
	<string>по цельсию</string>
	<key>fahrenheit</key>
	<string>по форенгейту</string>
	<key>metric</key>
	<string>(°C) метрическая</string>
	<key>imperial</key>
	<string>(°F) имперская</string>
	<key>wind speed</key>
	<string>ветер</string>
	<key>m/s</key>
	<string>м/с</string>
	<key>km/h</key>
	<string>км/ч</string>
	<key>mph</key>
	<string>мили/ч</string>
	<key>pressure</key>
	<string>давление</string>
	<key>hPa</key>
	<string>гПа</string>
	<key>mmHg</key>
	<string>мм рт. ст.</string>
	<key>inHg</key>
	<string>д. рт. ст.</string>
	<key>precipitation</key>
	<string>осадки</string>
	<key>mm</key>
	<string>мм</string>
	<key>in</key>
	<string>д.</string>
	<key>distance</key>
	<string>видимость</string>
	<key>km</key>
	<string>км</string>
	<key>mi</key>
	<string>мили</string>
	<key>time format</key>
	<string>время</string>
	<key>24-hour</key>
	<string>24 часа</string>
	<key>12-hour</key>
	<string>12 часов</string>
	<key>specials</key>
	<string>Особые опции</string>
	<key>focus on</key>
	<string>стиль Жизни</string>
	<key>day</key>
	<string>дневной</string>
	<key>night</key>
	<string>ночной</string>
	<key>dark mode</key>
	<string>тёмный режим</string>
	<key>dark mode auto</key>
	<string>системный</string>
	<key>dark mode on</key>
	<string>включен</string>
	<key>dark mode off</key>
	<string>отключен</string>
	<key>optionsButtonInMainScreen</key>
	<string>Опции</string>
	<key>locationsListButtonInMainScreen</key>
	<string>Любимые места</string>
	<key>closeButtonInLocationsListScreen</key>
	<string>Назад к погоде</string>
	<key>searchLocationInLocationsListScreen</key>
	<string>Найти</string>
	<key>closeButtonInSearchLocationScreen</key>
	<string>Закрыть</string>
	<key>closeButtonInOptionsScreen</key>
	<string>Закрыть</string>
</dict>
</plist>
